*.log
/.metadata/
/.settings/
/bin/
/target/
/logs/
/.recommenders/
/Servers/
*.index
*.zip
*.project
*.prefs
*.classpath
*.xmi
*.fdt
*.fdx
*.fnm
*.lock
*.setup
*.gen
*.frq
*.gitignore
.idea/
*.iml
/target/*
.settings/*